extends layout

block content
  pre
    | If you only have a keyboard, use z and x to rotate your weapon
    | If you connect to '/player1' on a mobile device, you may control gun angle with deviceorientation
    | If you connect to '/player2' ... 
    | You can set up the Myo to control stuff. But that's tedious.
